<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Financeiro.Properties.Settings.financeiroConnection"
            connectionString="server=localhost;user id=root;password=ezt710sh;database=financeiro_v2"
            providerName="MySql.Data.MySqlClient" />
        <add name="Financeiro.Properties.Settings.financeiroConnectionString"
            connectionString="server=localhost;user id=root;password=ezt710sh;database=financeiro"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>